//:host {
//  flex: 1;
//}



img {
  width: 100%;
  
}

.carousel-control:hover { 
  border: none;
  opacity: 1;
}
.carousel-inner img{
  margin: auto;
}
  
  // =========================
  // Next and Prev buttons
  // =========================
 
  /* style the arrows */
.mainDiv{
  margin: auto;
  width: 75%;
}
.carousel{
  justify-content: center;
 
}