//:host {
//  flex: 1;
//}



img {
  width: 70%;
  height: auto;
}

.carousel-control:hover { 
  border: none;
  opacity: 1;
}
.carousel-inner{
  margin-left: 15%;
}
  
  // =========================
  // Next and Prev buttons
  // =========================
 
  /* style the arrows */
