#contact-us{
    padding: 16px;
}

#floatingTextArea{
    height: 100px
}

.heading{
    background-color: #F2D4AE;
    padding-top: 10%;
    margin-top: -50px;
    width: 100%;
    margin-bottom: 5rem;
    padding-left: 5%;
    padding-bottom: 1%;
}
.imagecontainer{
    width: 100%;
    display: flex;
    justify-content: center;
}
h2{
    font-weight: bolder;
}