#contact-us{
    background-color:#AEE6F2;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
}

#floatingTextArea{
    height: 100px;
    width: 500px;
    justify-content: left;
}


.imagecontainer{
    width: auto;
    height: 500px;
    display: flex;
    justify-content: center;
}
h2{
    font-weight: bolder;
}
.maindiv{
    padding-top:10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
