<div class="container" id = "about-us">
    <div class="row justify-content-center">
        <div class="col-sm-5">
            <h1>A+ Players</h1>
            <p class="description">Our team member selection process was very extensive, and we've taken great care to hand-pick only the very best like no one ever was. To make clothes is our real test, and to sell them is our cause. We will travel across the land, searching far and wide. To teach retailers to understand, the power that's insiiide~</p> 
        </div>
        <div class="row justify-content-center">
            <div class="col-auto" style="margin: 16px">
                <div class="card border-0" style="width: 16rem;">
                    <img src="assets/images/about-us-kenneth.jpg" class="card-img-top rounded-circle">
                    <div class="card-body">
                        <p class="card-text">Araga, Kenneth Vincent</p>
                    </div>
                </div>
            </div>
            <div class="col-auto" style="margin: 16px">
                <div class="card border-0" style="width: 16rem;">
                    <img src="assets/images/about-us-levi.jpg" class="card-img-top rounded-circle">
                    <div class="card-body">
                        <p class="card-text">Canomo, Daniel Levi</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto" style="margin: 16px">
                <div class="card border-0" style="width: 16rem;">
                    <img src="assets/images/about-us-jezz.jpg" class="card-img-top rounded-circle">
                    <div class="card-body">
                        <p class="card-text">De vera, Jezzreel Von</p>
                    </div>
                </div>
            </div>
            <div class="col-auto" style="margin: 16px">
                <div class="card border-0" style="width: 16rem;">
                    <img src="assets/images/about-us-ac.jpg" class="card-img-top rounded-circle">
                    <div class="card-body">
                        <p class="card-text">Turla, Aira Camille</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>