<!--sample-->
<head>
    <title>Wishlist Table</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<ng-container *ngIf="products.length!=0">
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-4">
                    <h2 class="heading-section">MY WISHLIST</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-wrap">
                        <table class="table">
                        <thead class="thead-primary">
                            <tr>
                                <th>IMAGE</th>
                                <th>PRODUCT</th>
                                <th>PRICE</th>
                                <th>ID #</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="alert" role="alert" *ngFor="let product of products">
                                <td width=30%>
                                    <img class="product-img" src="{{product.productImage[0]}}" />
                                </td>
                                <td width=40%>
                                    <div class="email">
                                        <span style="text-transform: bold;">{{product.productName}} </span>
                                        <span>{{product.productOverview}}</span>
                                    </div>
                                </td>
                                <td width=10%><strong>{{product.productPrice | currency: 'PHP' : 'symbol-narrow'}}</strong></td>
                                <td width=10%>{{product.productID}}</td>
                                <td width=10%>
                                    <div class="wishlist-btn">
                                        <button class="btn buttonprmy" (click) = addToCart(product)><i class="bi bi-cart"></i></button>
                                        <button class="btn buttoncontinue" (click)="removeItem(product)"><i class="fas fa-trash-alt"></i></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="wishlist-btn">
        <button class="btn isred" (click)="emptyWishlist()">Empty Wishlist</button>
        <button class="btn buttoncontinue" routerLink="/welcome">Continue Shopping</button>
    </div>
</ng-container>

<!--WHEN WISHLIST IS EMPTY-->
<ng-container *ngIf="products.length==0">
    <div class="footer-height">
        <div class="empty-container">
            <div class="center">
                <img src="https://www.100nairamarket.com/images/empty-whishlist-icon.png">
                <h4>Your wishlist is empty!</h4>
                <!-- <h6>Browse our products now</h6> -->
                <button class="btn buttoncontinue" routerLink="/welcome">Shop Now</button>
            </div>
        </div>
    </div>
</ng-container>