.navbar {
    background-color: #f81010c5;
    z-index: 10;
}

.btn {
    background-color: white !important;
    // border: solid gray;
    border: none;
    outline: none;
    color: black;
}

a{
    font-size: 40px;
}
text{
    color: white;
}

.d-flex {
    margin:16px, 16px;
}

.search-container {
    width: 300px;
    margin-right:16px;
    margin-left:16px;
    margin-top:7px;
    // margin-bottom:30px;
}

.btn:focus,.btn:active, input:active {
    outline: none !important;
    box-shadow: none;
 }

 textarea:focus, input:focus{
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

.input-group-text {
    background-color: white;
}
