<nav class="navbar sticky-top navbar-expand-lg navbar-dark shadow">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/welcome']">UNIQTO</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        <div class="search-container">
          <span class="d-flex">
            <div class="input-group">
                <input type="text" class="form-control navbar-search" placeholder="Search" [(ngModel)]="searchTerm" (keyup)="search()" aria-label="Search" aria-describedby="basic-addon1">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
            </div>
          </span>
        </div>

        
        <!--wishlist-->
        <a class="nav-link" [routerLink]="['/wishlist']">
          <button class="btn btn-primary position-relative">
              <i class="bi bi-heart-fill"></i>
              <!--
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                  {{cartCount}}
                  <span class="visually-hidden">Quantity in Cart</span>
              </span> -->
          </button>
        </a>
        
        <a class="nav-link" [routerLink]="['/cart']">
            <button class="btn btn-primary position-relative">
                <i class="bi bi-cart"></i>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" *ngIf="cartCount != 0">
                    {{cartCount}}
                    <span class="visually-hidden">Quantity in Cart</span>
                </span>
            </button>
        </a>
      </div>
    </div>
</nav>