.navbar {
    background-color: #FF4A48;
    z-index: 10;
}

.btn {
    background-color: #e02c2c !important;
    border: solid gray;
    color: white;
}

a{
    font-size: 40px;
}
text{
    color: white;
}

.d-flex {
    margin:16px, 16px;
}

.search-container {
    width: 300px;
    margin-right:22px;
    margin-left:22px;
    margin-top:7px;
    // margin-bottom:30px;
}

.btn:focus,.btn:active, input:active {
    outline: none !important;
    box-shadow: none;
 }

 textarea:focus, input:focus{
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

.input-group-text {
    background-color: white;
}
