<div class= "main_div">
  <div class = "image_description">
    <div class="image_container">
      <!-- <img id = "product_image" src="{{product.productImage}}">  -->
      <!--src = "{{productImage}}"-->
      <!-- image carousel -->
      
      <div id="myCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src={{product.productImage[0]}} class="d-block w-100" alt="clothes">
          </div>
          <div class="carousel-item" *ngFor = "let images of product.productImage">
            <img src={{images}} class="d-block w-100" alt="clothes">
          </div>
        </div>
        <button class="carousel-control-prev carousel-control" type="button" data-bs-target="#myCarousel" data-bs-slide="prev" onclick="$('#myCarousel').carousel('prev')">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next carousel-control" type="button" data-bs-target="#myCarousel" data-bs-slide="next"  onclick="$('#myCarousel').carousel('next')">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      
    </div>
    <div class = "id_and_reviews">
      <div class = "product_description">
        <div id="id">
          <h2>Product ID: {{product.productID}}</h2>
        </div>
        <div class = "product_overview">
          <div id = "productoverview">
            <h2>Product Overview</h2>
          </div>
          <div>
            <p>
              {{product.productOverview}}
            </p>
          </div>
        </div>     
      </div>
      <div class = "product_reviews">
        <div class = "review_title_container">
          <h2>Reviews ({{product.productReviews.length}})</h2><!--product.review.length-->
        </div>
        <!-----user reviews-->
        <ng-container *ngFor = "let review of product.productReviews">
        <div class="user_review_container">
          <div class="title_and_date">
            <div class="reviewtitle">
              <h3 id = "review_title">{{review.username}}</h3>
            </div>
            <div id="review_date">
              <span>{{review.reviewDate}}</span>
            </div>
          </div>
          <div class = "starcontainer" >
          <app-star [rating]="review.userRating"></app-star>
          </div>
          <div class="review_text">
            <p>
              {{review.userReview}}
            </p>
          </div>
        </div>
      </ng-container>       
      </div><!--closing review container-->
    </div>  




  </div>
    <div class = "product_specs">
      <div class="added-to-cart-message">
        <h3 *ngIf="!successfulAdditon">Product Successfully added to cart!</h3>
      </div>
      <div class = "product_title">
        <h1>
          {{product.productName}}
        </h1>
      </div>
      <div class = "price_and_review_container">
        <!--product_price-->
        <h1 id= "product_price">{{ product.productPrice | currency:"PHP ":"symbol":"1.2-2"}}</h1> 
        <div class="star-container">
        <!-- <ng-container *ngFor = "let review of product.productReviews">
          <span id="star">&starf;</span>
        </ng-container> -->
        </div>      
      </div>
      <div class="review-summary">
        <div class="rating-display">
          <span><h2 class = "actual-rating">({{averageRating | number:"1.1-1"}})</h2></span>
        </div>
        <app-star [rating]="averageRating"></app-star>
      </div>  
      <div id="product_description">
        <p>
          {{product.productDescription}}
          </p>  
      </div> 
      <div class="colors">
        <div>
          <span>
            CHOOSE YOUR COLOR:
          </span>
        </div>
        <div class="flex-textures">
          <div class="button-color-container" *ngFor="let colors of product.productScheme[0].schemeLink">
            <div class="color-seperator">
              <!-- <input class = "button-color sorting-button texture-button" type="image" src={{colors}} (click)="textureAssign(product,product.productScheme[0].schemeLink.indexOf(colors))" > -->
              <!-- radio experiment -->
              <input class="disappear" type="radio" id="{{colors}}" name="radioFruit" value="apple">
              <label class="new-box" for="{{colors}}" style="background: url({{colors}}) left center no-repeat" (click)="textureAssign(product,product.productScheme[0].schemeLink.indexOf(colors))"></label>
              <!-- until here -->
            </div>
          </div>
        </div>
      </div>
      <div class= "product_sizes">
        <div>
          <span>
            CHOOSE YOUR SIZE:
          </span>
        </div>    
      </div>
      <div class = "button_sizes_container" (click)="onButtonGroupClick($event)">
        <button class = "button-size sorting-button" type = "button" (click)="sizeAssign('S')" [ngClass]="isSActive ? 'picked' : 'notPicked'">S</button>
        <button class = "button-size sorting-button" type = "button" (click)="sizeAssign('M')" [ngClass]="isMActive ? 'picked' : 'notPicked'">M</button>
        <button class = "button-size sorting-button" type = "button" (click)="sizeAssign('L')" [ngClass]="isLActive ? 'picked' : 'notPicked'">L</button>
      </div>
      <div class="flex-buttons">
        <button class= "add_to_cart" (click) = addToCart() [disabled]="!canFinallyAdd" data-bs-toggle="modal" data-bs-target="#exampleModal">ADD TO CART</button>
        <button class = "add_to_wishlist">ADD TO WISHLIST</button>
      </div>
      <div class="share_container">
        <div>
          SHARE:
        </div>
        <div>
          <a href="https://www.facebook.com"><button id = "social_media"><img id="fblogo" src ="https://cdn-icons-png.flaticon.com/512/124/124010.png"></button></a>
          <a href="https://www.twitter.com"><button id = "social_media"><img id="twitterlogo" src ="https://cdn-icons-png.flaticon.com/512/124/124021.png"></button></a>
        </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><strong>NICEE ONE!</strong></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Your item has successfully added to your cart :D
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" routerLink="/" data-bs-dismiss="modal">Continue Shopping</button>
        <button type="button" class="btn btn-primary" routerLink="/cart" data-bs-dismiss="modal">Go to Cart</button>
      </div>
    </div>
  </div>
</div>







