<div class= "main_div">
  <div class = "image_description">
    <div class="image_container">
      <img id = "product_image" src="{{product.productImage}}"> <!--src = "{{productImage}}"-->
    </div>
    <div class = "id_and_reviews">
      <div class = "product_description">
        <div id="id">
          <h2>Product ID: {{product.productID}}</h2>
        </div>
        <div>
          <p>
            {{product.productDescription}}
          </p>
        </div>     
      </div>
      <div class = "product_reviews">
        <div class = "review_title_container">
          <h2>Reviews ({{product.productReviews.length}})</h2><!--product.review.length-->
        </div>
        <!-----user reviews-->
        <ng-container *ngFor = "let review of product.productReviews">
        <div class="user_review_container">
          <div class="title_and_date">
            <div id= "review_title">
              <h3>{{review.username}}</h3>
            </div>
            <div id="review_date">
              <span>{{review.reviewDate}}</span>
            </div>
          </div>
          <div class="review_text">
            <p>
              {{review.userReview}}
            </p>
          </div>
        </div>
      </ng-container>       
      </div><!--closing review container-->
    </div>  
  </div>
    <div class = "product_specs">
      <div class = "product_title">
        <h1>
          {{product.productName}}
        </h1>
      </div>
      <div class = "price_and_review_container">
        <!--product_price-->
        <h1 id= "product_price">PHP {{product.productPrice}}</h1> 
        <div>
        <ng-container *ngFor = "let review of product.productReviews">
          <span id="star">&starf;</span>
        </ng-container>
      </div>        
      </div>
      <div id="product_description">
        <p>
          {{product.productDescription}}
          </p>  
      </div> 
      <div class="colors">
        <div>
          <span>
            COLOR:
          </span>
        </div>
        <div id = "button-color-container" *ngFor="let color of product.productScheme">
          <input type="image" src="{{color.schemeLink}}">
        </div>
      </div>
      <div class= "product_sizes">
        <div>
          <span>
            SIZE:
          </span>
        </div>    
      </div>
      <div class = "button_sizes_container">
        <button class = "button-size">S</button>
        <button class = "button-size">M</button>
        <button class = "button-size">L</button>
      </div>
      <div>
        <button class= "add_to_cart" (click) = addToCart(product)>ADD TO CART</button>
        <button class = "add_to_wishlist">ADD TO WISHLIST</button>
      </div>
      <div class="share_container">
        <div>
          SHARE
        </div>
        <div>
          <button id = "social_media"><img id="fblogo" src ="https://cdn-icons-png.flaticon.com/512/124/124010.png"></button>
          <button id = "social_media"><img id="twitterlogo" src ="https://cdn-icons-png.flaticon.com/512/124/124021.png"></button>
        </div>
        </div>
    </div>
    
</div>
