<div class= "main_div">
  <div class = "image_description">
    <div class="image_container">
      <img id = "product_image"src = "https://image.uniqlo.com/UQ/ST3/ph/imagesgoods/440013/item/phgoods_00_440013.jpg?width=1600&impolicy=quality_75">
    </div>
    <div class = "id_and_reviews">
      <div class = "product_description">
        <div id="id">
          <h2>Product ID: 123456</h2>
        </div>
        <div>
          
          <p>
            League of Legends

League of Legends is one of the biggest competitive games in the world, engaging around 8 million peak concurrent players daily. This UT collection is a must-have for League fans, highlighting some of the game's most iconic champions and elements.

© 2021 Riot Games, Lnc.
          </p>
        </div>     
      </div>
      <div class = "product_reviews">
        <div class = "review_title_container">
          <h2>Reviews (3)</h2>
        </div>
        <!-----user reviews-->
        <div class="user_review_container">
          <div class="title_and_date">
            <div id= "review_title">
              <h3>My go to shirt</h3>
            </div>
            <div id="review_date">
              <span>10/15/2021</span>
            </div>
          </div>
          <div class="review_text">
            <p>
              Loved this staple item and this is my go-to shirt and favorite crewneck shirt from them and I also have it in other colors. My mom have them too.
            </p>
          </div>
        </div>
        <!-----user reviews-->
        <div class="user_review_container">
          <div class="title_and_date">
            <div id= "review_title">
              <h3>My go to shirt</h3>
            </div>
            <div id="review_date">
              <span>10/15/2021</span>
            </div>
          </div>
          <div class="review_text">
            <p>
              Loved this staple item and this is my go-to shirt and favorite crewneck shirt from them and I also have it in other colors. My mom have them too.
            </p>
          </div>
        </div>
        
      </div><!--closing review container-->
    </div>  
  </div>
    <div class = "product_specs">
      <div class = "product_title">
        <h1>
          LEAGUE OF LEGENDS UT (SHORT SLEEVE GRAPHIC T-SHIRT)
        </h1>
      </div>
      <div class = "price_and_review_container">
        <!product_price-->
        <h1 id= "product_price">PHP 390.00</h1> 
        <div>
            <span id="star">&starf;</span>
            <span id="star">&starf;</span>
            <span id="star">&starf;</span>
            <span id="star">&starf;</span>
            <span id="star">&star;</span>
        </div>        
      </div>
      <div id="product_description">
        <p>Our crew neck T-shirt features thoughtful design details for style and comfort.</p>
      </div> 
      <div class="colors">
        <div>
          <span>
            COLOR:
          </span>
        </div>
        <div id = "button-color-container">
          <button class= "button-color"></button>
          <button class= "button-color"></button>
          <button class= "button-color"></button>
        </div>
      </div>
      <div class= "product_sizes">
        <div>
          <span>
            SIZE:
          </span>
        </div>    
      </div>
      <div id = "buttons">
        <button class = "button-size">S</button>
        <button class = "button-size">M</button>
        <button class = "button-size">L</button>
      </div>
      <div class = "product_quantity">
        <span>QUANTITY: </span>
      </div>
      <select id="product_quantity">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <div>
        <button class= "add_to_cart">ADD TO CART</button>
        <button class = "add_to_wishlist">ADD TO WISHLIST</button>
      </div>
      <div class="share_container">
        <div>
          SHARE
        </div>
        <div>
          <button id = "social_media"><img id="fblogo" src ="https://cdn-icons-png.flaticon.com/512/124/124010.png"></button>
          <button id = "social_media"><img id="twitterlogo" src ="https://cdn-icons-png.flaticon.com/512/124/124021.png"></button>
        </div>
        </div>
    </div>
    
</div>
