
<!-- main div -->
<div class="title">
    <h1><strong>SHOPPING CART</strong></h1>
</div>
<div class="container main">
    <div class="mainWrapper row">
        <div class="cart-list col space-between-2">
            <div class="container-fluid">
                <ol class="pad-left-remove">
                    <ng-container *ngIf="products.length==0">
                        <div class="container empty">
                            <h3 class="empty-message">Whatt?? Your cart is currently empty... Click the button below to continue shopping</h3>
                            <h3 class="empty-message" *ngIf = "removedAllItems">Items removed from cart</h3>
                            <div class="empty-button">
                                <button class="btn checkout-button buttoncontinue colorswhite" type="button" routerLink="/welcome">CONTINUE SHOPPING</button>
                            </div>
                        </div>
                    </ng-container>
                    <li *ngFor="let item of products">
                        <div class="panel-contents">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="image-section col-4">
                                        <a routerLink="/product-details/{{item.productID}}">
                                            <div class="product-image">
                                                <img src={{item.chosenPhoto}} alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="product-details col-8 ">
                                        <div class="container ">
                                            <div class="content-1 row">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col">
                                                            <h3><strong>{{item.productName}}</strong></h3>
                                                            <h5>Product ID: {{item.productID}}</h5>
                                                            <h5>Color: {{item.chosenColor}}</h5>
                                                            <h5>Size: {{item.chosenSize}}</h5>
                                                        </div>
                                                        <div class="col-2 cancel-div">
                                                            <i type="button" class="bi bi-x cancel-button" data-bs-toggle="modal" data-bs-target="#exampleModalLabel4" (click)=pendingForRemoval(item)></i>
                                                            <!-- Modal -->
                                                            <div class="modal fade" id=exampleModalLabel4 tabindex="-1" aria-labelledby="exampleModalLabel4" aria-hidden="true">
                                                                <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to remove this item?</h5>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <button type="button" class="btn btn-secondary remove-confirm" data-bs-dismiss="modal">Cancel</button>
                                                                        <button type="button" class="btn buttoncontinue remove-confirm" data-bs-dismiss="modal" (click)="removeItem(pendingItem)">Remove</button>
                                                                    </div>
                                                                </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="content-2 row">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col">
                                                            <span><strong>QUANTITY</strong></span>
                                                            <select class="form-select" aria-label="Default select example" disabled>
                                                                <option selected value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="6">6</option>
                                                                <option value="7">7</option>
                                                                <option value="8">8</option>
                                                                <option value="9">9</option>
                                                                <option value="10">10</option>
                                                                </select>
                                                        </div>
                                                        <div class="prod-subtotal col">
                                                            <h4><strong>SUBTOTAL: </strong></h4>
                                                            <h4><strong>{{item.productPrice | currency:"PHP ":"symbol":"1.2-2"}}</strong></h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
        <div class="cart-details sticky-top col-lg-4">
            <div class="space-between">
            </div>
            <div class="row">
                <div class="prices-section border border-1">
                    <h5 class="num-of-items">Order Summary {{products.length}} Item(s)</h5>
                    <div>
                        <table class="price-tables">
                            <tbody>
                                <tr>
                                    <td>item(s) subtotal</td>
                                    <td><span class="price-results">{{grandTotal | currency:"PHP ":"symbol":"1.2-2"}}</span></td>
                                </tr>
                                <tr>
                                    <td class="bigger-font"><strong>SUBTOTAL</strong></td>
                                    <td><span class="price-results bigger-font"><strong>{{grandTotal | currency:"PHP ":"symbol":"1.2-2"}}</strong></span></td>
                                </tr>
                                <tr>
                                    <td>VAT included</td>
                                    <td><span class="price-results">{{vatPrice | currency:"PHP ":"symbol":"1.2-2"}}</span></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th class="bigger-font"><strong>ORDER TOTAL</strong></th>
                                    <th class="price-results bigger-font" >{{grandTotal | currency:"PHP ":"symbol":"1.2-2"}}</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <hr>
                <div class="coupon-section">
                    <span><i type="button" class="fas fa-ticket-alt coupon-icon" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>Coupon</span>
                    <i type="button" class="fas fa-chevron-right coupon-button" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
                </div>
                <hr>
            </div>
            <div class="row">
                <div class="checkout-reminder col">
                    <p>Your items will be reserved for the next 30 minutes after the “Checkout” button has been pressed.</p>
                </div>
                <div class="info-message col-2">
                    <i type ="button" class="fas fa-info-circle info-icon" data-bs-toggle="modal" data-bs-target="#exampleModal2"></i>
                </div>
            </div>
            <div class="row">
                <div class="checkout-section">
                    <button class="btn checkout-button buttonprmy" type="button">CHECKOUT</button>
                    <button class="btn  checkout-button buttoncontinue" type="button" *ngIf="products.length!=0" routerLink="/welcome">CONTINUE SHOPPING</button>
                    <button class="btn checkout-button" type="button" id="removeallitems" (click)="removeAllItems()">REMOVE ALL ITEMS</button>
                </div>
            </div>
        </div>
    </div>
</div>


  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><strong>LOGIN REQUIRED</strong></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Please go to the login page.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn buttoncontinue">Log In</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><strong></strong></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Your items will not be reserved in your cart. Your items will be reserved for the next 30 minutes after the Checkout button has been pressed.
        </div>
        <div class="modal-footer">
          </div>
      </div>
    </div>
  </div>




 