
    <ng-container *ngIf="searchTerm==''; else customHeader">
        <!-- CAROUSEL DISPLAY | COMPONENT -->
        <app-carousel></app-carousel> 
        <!-- FILTER PRODUCTS BY CATEGORY -->
        <div class="category">
            <div class="category-bar d-flex">
                <div class="item">
                    <a (click)="filter('WOMEN')">
                        <img src="https://cdn-icons.flaticon.com/png/512/2682/premium/2682144.png?token=exp=1634617508~hmac=64913ef6582bc23b673475e69b14059d">
                        <h6>WOMEN</h6>
                    </a>
                </div>
                <div class="item">
                    <a (click)="filter('MEN')">                    
                        <img src="https://cdn3.iconfinder.com/data/icons/men-s-clothing-3-line/64/male_clothes-12-512.png">
                        <h6>MEN</h6>
                    </a>
                </div>
                <div class="item">
                    <a (click)="filter('KIDS')">  
                        <img src="https://cdn4.iconfinder.com/data/icons/web-and-devices-set-1/512/Baby__Child_2-512.png">
                        <h6>KIDS</h6>
                    </a>
                </div>
            </div>
        </div>
        
        <div class = "displayarea"> 
            <h1><strong>ALL PRODUCTS</strong></h1>
        </div>
    </ng-container>
    <ng-template #customHeader>
        <div class = "displayarea">
            <h1><strong>{{productList.length + " " + ((productList.length > 1) ? "matches":"match") + ' for ' + '"' + searchTerm + '"'}}</strong></h1>
        </div>
    </ng-template>

    <!-- edited -->
    <div class="container product-list">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 box" *ngFor = "let product of filterCategory">
                <div class="product-card">
                    <div class="product-image">
                        <a routerLink='/product-details/{{product.productName}}' (click)="revealProduct(product)">
                            <img src={{product.productImage}} class="product-thumb" alt="">
                        </a>
                        <input type="button" class="card-btn" data-bs-toggle="modal" data-bs-target="#exampleModal4" (click) = addToWishlist(product) [disabled]="!canFinallyAdd" value="Add to Wishlist" />
                    </div>
                    <div class="product-info">
                        <div class="color-option">
                            <span class="color"></span>
                            <div class="circles">
                                <div class="button-color-container" *ngFor="let colors of product.productScheme[0].schemeLink">
                                    <div class="color-seperator">
                                        <input class="disappear" type="radio" id="{{colors}}" name="radioFruit" value="apple">
                                        <label class="new-box" for="{{colors}}" style="background: url({{colors}}) left center no-repeat" (click)="textureAssign(product,product.productScheme[0].schemeLink.indexOf(colors))"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="deets">
                                <a routerLink='/product-details/{{product.productName}}' (click)="revealProduct(product)">
                                    <div>
                                        <h2 class="product-brand">{{product.productName}}</h2>
                                    </div>
                                    <div>
                                        <p class="product-rating">Rating ({{product.productReviews.length}})</p>
                                    </div>
                                    <div>
                                        <span class="price">{{product.productPrice | currency:"PHP ":"symbol":"1.2-2"}}</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel4" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Item has been added to your wishlist!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" routerLink="/wishlist">View Wishlist</button>
                  </div>
            </div>
        </div>
    </div>

    <!-- PRODUCT CARDS -->
    <!-- <div class="product-container">
        <div class="container">
            <div class="row"> -->
                <!-- <ng-container *ngFor = "let product of productList"> -->
                    <!-- <div class="product-card">
                        <div class="product-image">
                            <span class="discount-tag">30% off</span>
                            <a routerLink='/product-details/{{product.productName}}' (click)="revealProduct(product)">
                                <img src={{product.productImage}} class="product-thumb" alt="">
                            </a> -->
                            
                            <!-- for wishlist -->
                            <!-- <input type="button" class="card-btn" data-bs-toggle="modal" data-bs-target="#exampleModal4" (click) = addToWishlist(product) [disabled]="!canFinallyAdd" value="Add to Wishlist" />
                            
                        </div>
                        
                        <div class="product-info">
                            <div class="color-option">
                                <span class="color"></span>
                                <div class="circles">
                                    <div class="button-color-container" *ngFor="let colors of product.productScheme[0].schemeLink">
                                        <div class="color-seperator">
                                            <input class="button-color" type="image" src={{colors}} (click)="textureAssign(product,product.productScheme[0].schemeLink.indexOf(colors))">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a routerLink='/product-details/{{product.productName}}' (click)="revealProduct(product)">
                                <h2 class="product-brand">{{product.productName}}</h2>
                                <p class="product-rating">Rating ({{product.productReviews.length}})</p>
                                <span class="price">{{product.productPrice | currency: 'PHP' : 'symbol-narrow'}}</span>
                            </a>
                        </div>
                    </div>
                 -->
                    <!--test button-->
                   
                    <!-- modal for wishlist -->
                    <!-- <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel4" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Item has been added to your wishlist!</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" routerLink="/wishlist">View Wishlist</button>
                                  </div>
                            </div>
                        </div>
                    </div> -->
                <!-- </ng-container> -->
            <!-- </div>
        </div>
    </div> -->
