<!-- <p>product-list works!</p> -->
<!-- PRODUCT CARDS -->
<div class="product-container">
    <ng-container *ngFor = "let product of productList"><!-- *ngFor="product of Products"-->
    <a [routerLink]="['/product-details']">
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% off</span>
                <img src={{product.productImage}} class="product-thumb" alt="">
                <button class="card-btn">add to wishlist</button>
            </div>
            <div class="product-info">
                <div class="color-option">
                    <span class="color"></span>
                    <div class="circles">
                      <span class="circle blue "  id="blue"></span>
                      <span class="circle pink " id="pink"></span>
                      <span class="circle yellow " id="yellow"></span>
                    </div>
                </div>
                <h2 class="product-brand">{{product.productName}}</h2>
                <p class="product-rating">Rating (Number of Reviews)</p>
                <span class="price">{{product.productPrice | currency}}</span>
            </div>
        </div>
    </a>
    </ng-container>
</div>