/* You can add global styles to this file, and also import other style files */
@font-face {font-family: "Uniqlo Pro Light"; src: url("https://db.onlinewebfonts.com/t/13bf1d3e6c7119293f9c96e5678096e6.eot"); src: url("https://db.onlinewebfonts.com/t/13bf1d3e6c7119293f9c96e5678096e6.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/13bf1d3e6c7119293f9c96e5678096e6.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/13bf1d3e6c7119293f9c96e5678096e6.woff") format("woff"), url("https://db.onlinewebfonts.com/t/13bf1d3e6c7119293f9c96e5678096e6.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/13bf1d3e6c7119293f9c96e5678096e6.svg#Uniqlo Pro Light") format("svg"); }
*{
    font-family: "Uniqlo Pro Light";
}
button{
    cursor: pointer;
    transition-duration: 0.1 s;
    opacity: 0.8;
    font-size: inherit;
}
button:hover{
    opacity: 1;
}
.btn{
    border: none !important;
    outline: none !important;
}
.wishlist{
    background-color: white;
    color: white;
}
.buttonprmy{
    background-color: #FF0000 !important;
    color: white;

}
.buttoncontinue{
    background-color: #012443 !important;
    color: white !important;
}
.isred{
    color: #FF0000;
}
.isplain{
    font-family: Arial, Helvetica, sans-serif;
}